header{
     /*overflow: hidden;*/
     background-color:rgb(238, 8, 8);
     text-decoration-line: underline;
     padding: 20px 10px;
     /*display: flex;*/
     justify-content: space-between;
     align-items: center;
     text-align:center;
     color: aliceblue;
}



.fotosdomeio{
        align-items: center;
        display: flex;


}